<h1>Friends List</h1>

<div class=row>
  <div id="friends" class="col p-1">
    <% @friends.each do |friend| %>
      <%= render friend %>
      <%= link_to "Show this friend", friend, class:"btn btn-secondary" %>
      <br/><br/>
    <% end %>
    <p>
      <%= link_to "Add friend", new_friend_path, class:"btn btn-secondary" %>
    </p>
  </div>
  <div id="friends" class="col p-1"/>
</div>
